<nav th:fragment="navbar" class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/welcome}">
            <img th:src="@{/images/logo.svg}" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
            AniStore
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                <li class="nav-item ms-2"><a class="nav-link" th:href="@{/catalog}">Catalog</a></li>
                <li th:if="${session.email != null}" class="nav-item ms-2"><a class="nav-link position-relative" th:href="@{/cart}">Cart</a></li>
                <li th:if="${session.email != null}" class="nav-item ms-2"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                <li th:if="${session.role == 'ROLE_ADMIN'}" class="nav-item ms-2"><a class="nav-link" th:href="@{/admin/add-product}">Add product</a></li>
                <li th:if="${session.role == 'ROLE_ADMIN'}" class="nav-item ms-2"><a class="nav-link" th:href="@{/admin/update-product}">Update product</a></li>
                <li th:if="${session.role == 'ROLE_ADMIN'}" class="nav-item ms-2"><a class="nav-link" th:href="@{/admin/order-status}">Order status</a></li>
        </div>
    </div>
</nav>
